<launch>
    <rosparam file="$(find ur5_gripper_moveit_config)/config/gazebo_controllers.yaml" command="load"/>

    <node name="joint_controller_spwaner" pkg="controller_manager" type="spawner" respawn="false"  output="screen" args="joint_state_controller" />

     <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher"
        respawn="false" output="screen" />
    
</launch>